body, pre {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

body {
  color: #dddddd;
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  min-width: 200px;
  background: #222;
  padding: 1rem;
  overflow-y: auto;
}

main {
  flex: 1;
  background: #333;
  padding: 1rem;
}

a { color: #ff8000; text-decoration: underline; }
a:hover { background-color: #ff8000; color: white; }
a.selected { font-weight: bold; color: white; text-decoration: none; }

canvas {
  display: block;
  margin: 0px auto 0px auto;
}

pre#errorBlock {
  color: #ff0000;
  margin: 10px;
}

div#refList {
  margin: 10px;
}

ul#files {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: #555;
  border: none;
  color: white;
  font-size: 1.5em;
  min-width: 30px;
  border-radius: 3px;
}

button.pressed { background: #888; }
button:hover { background: #aaa; }

div#controls {
  margin-top: 10px;
}

#infoLbl::before { content: "t:"; }

#fragControls {
  display: grid;
  grid-template-columns: auto 1fr 80px; /* label, input, output */
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center; /* vertical align */
  max-width: 400px;
  visibility: hidden;
}

#fragControls input {
  justify-self: left;
}
